<div class="container">
  <h2 class="text-center mt-4">Goverment Exams Books</h2>
  <div class="card mt-4 mb-4">
    <div class="card-body mb-3">
      <div class="d-md-block d-none"> 
        <h3 class="text-center mb-4">Civil Services</h3>
        <div class="row"> 
          <div class="col-md-3 col mt-3">
            <%= link_to "https://www.amazon.in/Bharat-Ki-Rajvayvastha-M-Laxmikanth/dp/9352603869/ref=sr_1_3?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577172417&rw_html_to_wsrp=1&s=books&sr=1-3", target: :_blank do %>
              <%= image_tag "book6.jpg"%>
            <% end %> 
          </div>
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/Introduction-Indian-Philosophy-Satishchandra-Chatterjee/dp/8129111950/ref=sr_1_14?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577172417&rw_html_to_wsrp=1&s=books&sr=1-14", target: :_blank do %>
              <%= image_tag "book7.jpg"%>
            <% end %>   
          </div>
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/Indias-Railway-Man-Biography-Sreedharan/dp/8129145219/ref=sr_1_19?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577172417&rw_html_to_wsrp=1&s=books&sr=1-19", target: :_blank do %>
             <%= image_tag "book8.jpg"%>
            <% end %> 
          </div>
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/Civil-Services-India-Oxford-Introductions/dp/0198086091/ref=sr_1_22?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577173033&rw_html_to_wsrp=1&s=books&sr=1-22", target: :_blank do %>
              <%= image_tag "book9.jpg"%>
            <% end %>
          </div>
        </div>
        <hr>
        <h3 class="text-center mb-4">Defense Exams</h3>
        <div class="row">
          <div class="col-md-3 col-12 mt-3">
            <%= link_to "https://www.amazon.in/Afcat-Force-Common-Admission-Test/dp/8184956657/ref=sr_1_3?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577173860&rw_html_to_wsrp=1&s=books&sr=1-3", target: :_blank do %>
              <%= image_tag "book10.jpg"%>
            <% end %>
          </div>
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/Chapterwise-Sectionwise-Solved-Papers-NDA-NA/dp/9386179091/ref=sr_1_4?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577174101&rw_html_to_wsrp=1&s=books&sr=1-4", target: :_blank do %>
              <%= image_tag "book11.jpg"%>
            <% end %>
          </div>
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/General-Studies-Prelims-Topic-wise-Solved/dp/9386146835/ref=sr_1_7?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577174101&rw_html_to_wsrp=1&s=books&sr=1-7", target: :_blank do %>
              <%= image_tag "book12.jpg"%>
            <% end %>
          </div>
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/Indian-Dockyard-Civilian-Personnel-Tradesman/dp/9386485133/ref=sr_1_3?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577174277&rw_html_to_wsrp=1&s=books&sr=1-3", target: :_blank do %>
              <%= image_tag "book13.jpg"%>
            <% end %>
          </div>
        </div>
        <hr>
        <h3 class="text-center mb-4">Other Exams</h3>
        <div class="row">
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/CTET-STETs-Paper-both-Development/dp/B07S7RH2J4/ref=sr_1_3?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577177807&rw_html_to_wsrp=1&s=books&sr=1-3", target: :_blank do%>
              <%= image_tag "book14.jpg"%>
            <% end %>  
          </div>
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/CTET-PaperII-Panacea-Mathematics-Science/dp/9389523168/ref=sr_1_20?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577178530&rw_html_to_wsrp=1&s=books&sr=1-20", target: :_blank do%>
              <%= image_tag "book15.jpg"%>
            <% end %>  
          </div>
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/Guide-Combined-Higher-Secondary-2019/dp/9313192802/ref=lp_4149790031_1_2?s=books&ie=UTF8&qid=1577171560&sr=1-2", target: :_blank do%>
              <%= image_tag "book16.jpg"%>
            <% end %>  
          </div>
          <div class="col-md-3 mt-3">
            <%= link_to "https://www.amazon.in/Oxford-Student-Atlas-India-Third/dp/0190123281/ref=lp_4149790031_1_3?s=books&ie=UTF8&qid=1577171560&sr=1-3", target: :_blank do%>
              <%= image_tag "book17.jpg"%>
            <% end %>  
          </div>        
        </div>        
      </div>
      <div class="d-block d-md-none">
        <h3 class="text-center mb-4">Civil Services</h3>
        <div class="row"> 
          <div class="col-12 mt-3">
            <%= link_to "https://www.amazon.in/Bharat-Ki-Rajvayvastha-M-Laxmikanth/dp/9352603869/ref=sr_1_3?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577172417&rw_html_to_wsrp=1&s=books&sr=1-3", target: :_blank do %>
              <p>1.Bharat-Ki-Rajvayvastha-M-Laxmikanth</p>
            <% end %> 
          </div>
          <div class="col-12 mt-3">
            <%= link_to "https://www.amazon.in/Introduction-Indian-Philosophy-Satishchandra-Chatterjee/dp/8129111950/ref=sr_1_14?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577172417&rw_html_to_wsrp=1&s=books&sr=1-14", target: :_blank do %>
              <p>2.Introduction-Indian-Philosophy-Satishchandra-Chatterje</p>
            <% end %>   
          </div>
          <div class="col-12 mt-3">
            <%= link_to "https://www.amazon.in/Indias-Railway-Man-Biography-Sreedharan/dp/8129145219/ref=sr_1_19?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577172417&rw_html_to_wsrp=1&s=books&sr=1-19", target: :_blank do %>
             <p>3.Indias-Railway-Man-Biography-Sreedharan</p>
            <% end %> 
          </div>
          <div class="col-12 mt-3">
            <%= link_to "https://www.amazon.in/Civil-Services-India-Oxford-Introductions/dp/0198086091/ref=sr_1_22?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577173033&rw_html_to_wsrp=1&s=books&sr=1-22", target: :_blank do %>
              <p>4.Civil-Services-India-Oxford-Introductions</p>
            <% end %>
          </div>
        </div> 
        <hr>
        <h3 class="text-center mb-4">Defense Exams</h3>
        <div class="row">
          <div class="col-12 mt-3">
            <%= link_to "https://www.amazon.in/Afcat-Force-Common-Admission-Test/dp/8184956657/ref=sr_1_3?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577173860&rw_html_to_wsrp=1&s=books&sr=1-3", target: :_blank do %>
              <p>1.Afcat-Force-Common-Admission-Test</p>
            <% end %>
          </div>
          <div class="col-12 mt-3">
            <%= link_to "https://www.amazon.in/Chapterwise-Sectionwise-Solved-Papers-NDA-NA/dp/9386179091/ref=sr_1_4?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577174101&rw_html_to_wsrp=1&s=books&sr=1-4", target: :_blank do %>
              <p>2.Chapterwise-Sectionwise-Solved-Papers-NDA-NA</p>
            <% end %>
          </div>
          <div class="col-12 mt-3">
            <%= link_to "https://www.amazon.in/General-Studies-Prelims-Topic-wise-Solved/dp/9386146835/ref=sr_1_7?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577174101&rw_html_to_wsrp=1&s=books&sr=1-7", target: :_blank do %>
              <p>3.General-Studies-Prelims-Topic-wise-Solved</p>
            <% end %>
          </div>
          <div class="col-12 mt-3">
            <%= link_to "https://www.amazon.in/Indian-Dockyard-Civilian-Personnel-Tradesman/dp/9386485133/ref=sr_1_3?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577174277&rw_html_to_wsrp=1&s=books&sr=1-3", target: :_blank do %>
              <p>4.Indian-Dockyard-Civilian-Personnel-Tradesman</p>
            <% end %>
          </div>
        </div>     
        <hr>
        <h3 class="text-center mb-4">Other Exams</h3>
        <div class="row">
          <div class="col-12">
            <%= link_to "https://www.amazon.in/CTET-STETs-Paper-both-Development/dp/B07S7RH2J4/ref=sr_1_3?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577177807&rw_html_to_wsrp=1&s=books&sr=1-3", target: :_blank do%>
              <p>1.CTET-STETs-Paper-both-Development</p>
            <% end %>  
          </div>
          <div class="col-12">
            <%= link_to "https://www.amazon.in/CTET-PaperII-Panacea-Mathematics-Science/dp/9389523168/ref=sr_1_20?pf_rd_i=4149790031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=384b5513-3e7d-45df-8c3d-e59525c88b58&pf_rd_r=AZ06DX4M011GSDKYG38Q&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1577178530&rw_html_to_wsrp=1&s=books&sr=1-20", target: :_blank do%>
              <p>2.CTET-PaperII-Panacea-Mathematics-Science</p>
            <% end %>  
          </div>
          <div class="col-12">
            <%= link_to "https://www.amazon.in/Guide-Combined-Higher-Secondary-2019/dp/9313192802/ref=lp_4149790031_1_2?s=books&ie=UTF8&qid=1577171560&sr=1-2", target: :_blank do%>
              <p>3.Guide-Combined-Higher-Secondary-2019</p>
            <% end %>  
          </div>
          <div class="col-12">
            <%= link_to "https://www.amazon.in/Oxford-Student-Atlas-India-Third/dp/0190123281/ref=lp_4149790031_1_3?s=books&ie=UTF8&qid=1577171560&sr=1-3", target: :_blank do%>
              <p>4.Oxford-Student-Atlas-India-Third</p>
            <% end %>  
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>